Referenced Packages
.project
salesforce.schema
.settings/com.salesforce.ide.core.prefs
config
*.sublime-project
*.sublime-settings
*.sublime-workspace
apex-scripts
CI/salesforce_ant_31.0/sample
Readme.html
debug
.README.md.html
